<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.venky.kmm.ktor.poc.android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name="com.mobile.venky.kmm.ktor.poc.android.AndroidPocApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPocApp">
        <activity
            android:name="com.mobile.venky.kmm.ktor.poc.android.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 